
<% # TODO: Refactor%>

<% #Javascript Equivalent: %>

<% #const newPlace = { %>
<%    #city: 'Tucson', %>
<%    #state: 'Arizona', %>
<%    #temp: 74 %>
<% #} %>

<% #<h6 class='title'>{newPlace.city}</h6> %>

<% # Output cards based on number of places in array%>

<% # TODO: Create edit/remove button functionality%>

<div class='card-deck'>

    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
        <% city = 'Tucson' %>
            <h5 class="card-title"><%= city %></h5>
            <h6 class="card-subtitle mb-2 text-muted">Arizona</h6>
            <p class="card-text">75°</p>
            <a href="#" class="btn btn-primary btn-sm">edit</a>
            <a href="#" class="btn btn-danger btn-sm">X</a>
        </div>

    </div>
